.w-100 {
    filter: saturate(1.5) brightness(0.7) contrast(0.9) grayscale(0.33);
}
.carousel-caption {
    left: 10%;
    top: 20%;
    font-family: var(--main-font-family);
    text-align: left;
}
.carousel-caption h3 {
    font-size: 18px;
    text-transform: uppercase;
}
.carousel-caption h2 {
    font-size: 50px;
    font-style: italic;
    text-transform: uppercase;
}
.carousel-caption h2 span:nth-child(odd){
    font-weight: normal;
}
.carousel-caption h2 span:nth-child(even) {
    font-weight: bold;
}
.carousel-caption p {
    font-size: 18px;
}