* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --black-color-one: #1c1c1c;
    --black-color-two: #333;
    --grey-color-one: #f7f7f7;
    --grey-color-two: #536162;
    --white-color: #fffdf6;
    --soft-red-color: #e53e2b;
    --swiper-theme-color: #fffdf6;
    --swiper-navigation-size: 24px;
}

.overflow-wrapper {
    overflow-x: hidden;
    position: relative;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

h1,
h2 {
    font-style: italic;
}

h2 {
    font-size: 50px;
    padding-top: 10px;
}

h1 span:first-child,
h2 span:first-child {
    font-weight: normal;
}

h3 {
    font-size: 15px;
    letter-spacing: 0.1em;
}

p {
    font-size: 16px;
    padding-top: 10px;
}

.button-type-one {
    border: 2px solid var(--white-color);
    color: var(--white-color);
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 14px;
    background-image: linear-gradient(to left, transparent, transparent 50%, var(--white-color) 50%, var(--white-color));
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    width: 200px;
    margin-top: 22px;
    text-align: center;
}

.button-type-one:hover {
    background-position: 0 0;
    color: var(--black-color-one);
}