.about { 
    background-image: url(../img/background/saab-s9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    padding: 5vh 0 5vh 56vw;
}

@media screen and (max-width: 1024px) {
    .about {
        padding-left: 46vw;
    }
}

@media screen and (max-width: 768px) {
    .about {
        padding-left: 10vw;
    }
}