:root {
    --black-color: #000;
    --white-color: #fff;
    --soft-red-color: #e53e2b;
    --grey-color: #f7f7f7;
    --main-font-family: 'Roboto Condensed', sans-serif;
    --button-font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}
body {
    max-width: 1920px;
    margin: auto;
}
.navbar {
    width: 100%;
    min-height: 104px;
    font-family: var(--main-font-family);
}
.bg-light {
    background-color: var(--white-color)!important;
}
.container-fluid {
    width: unset;
}
.navbar-brand {
    margin-right: 20rem;
    font-style: italic;
    font-size: 31px;
}
.navbar-brand span:first-child {
    font-weight: bold;
    color: var(--soft-red-color);
}
.navbar-brand span:nth-child(2) {
    font-weight: normal;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    font-family: var(--main-font-family);
    color: unset;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--soft-red-color);
}
.dropdown-item:hover {
    color: var(--soft-red-color);
}
/* header {
    display: flex;
    height: 104px;
}
#btp-wheels {
    font-size: 31px;
    font-style: italic;
    margin-left: 366px;
    margin-top: 27px;
}
.btp-logo-one,
.btp-logo-two {
    font-family: var(--main-font-family);
}
.btp-logo-one {
    font-weight: bold;
    color: var(--soft-red-color);
}
.btp-logo-two {
    font-weight: normal;
    text-transform: uppercase;
}
.menu {
    font-size: 18px;
    font-family: var(--main-font-family);
}
header .menu ul {
    display: flex;
    margin-left: 430px;
    list-style-type: none;
}
header .menu li {
    margin: 39px 26px;
}
header .menu li a {
    text-decoration: none;
    color: var(--black-color);
}
header .menu li a:hover {
    color: var(--soft-red-color);
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-button {
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    background-color: var(--white-color);
    font-size: 18px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 158px;
    z-index: 1;
    border-radius: 3%;
}
.dropdown-content a:first-child {
    display: block;
    padding: 30px 0 20px 51px;
}
.dropdown-content a:nth-child(even) {
    display: block;
    padding: 0px 0 30px 51px;
}
.dropdown-content a:hover {
    background-color: var(--white-color);
    color: var(--soft-red-color);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropdown-button {
    color: var(--soft-red-color);
}
.social-icons {
    list-style-type: none;
    width: 32px;
} */