#about-us {
    font-family: var(--main-font-family);
    color: var(--white-color);
    background-image: url(../img/photos/ken-block-one.jpg);
    min-height: 712px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#about-us h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
#about-us h2 {
    padding-top: 6px;
    font-size: 50px;
    font-style: italic;
    text-transform: uppercase;
}
#about-us h2 span:first-child {
    font-weight: normal;
}
#about-us h2 span:nth-child(2) {
    font-weight: bold;
}
#about-us p {
    padding-top: 18px;
    font-size: 18px;
    line-height: 1.7;
}
#about-us a {
    font-family: var(--button-font-family);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: var(--white-color);
    border: 3px solid var(--white-color);
    padding: 19px 37px;
    letter-spacing: 0.1em;
    margin-top: 25px;
}
#about-us a:hover {
    background-color: var(--white-color);
    transition: 0.25s ease;
    color: var(--black-color);
}
@media (min-width: 950px) {
    #about-us {
        align-items: flex-end;
        padding-right: 365px;
        text-align: left;
    }
    #about-us h3 {
        padding-right: 365px;
    }
    #about-us h2 {
        padding-right: 168px; 
    }
    #about-us a {
        margin-right: 242px;
    }
}