footer {
    height: 65vh;
    background-image: url(../img/background/crowned-work.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 140px;
}

footer h2 {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    line-height: 1em;
}

footer h3 {
    color: var(--white-color);
    font-style: italic;
    letter-spacing: 0.2em;
    display: flex;
    align-items: center;
}

footer h3 span:first-child {
    padding-right: 5px;
}

.footer-nav-links,
.footer-social-links {
    list-style: none;
}

.footer-nav-links {
    display: flex;
    padding-top: 20px;
    font-weight: bold;
}

.footer-nav-links li:nth-child(-n+4) {
    padding-right: 30px;
}

.footer-nav-links a {
    color: var(--white-color);
    text-decoration: none;
    letter-spacing: 0.1em;
    background-image: linear-gradient(var(--white-color), var(--white-color));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    padding-bottom: 0.2em;
}

.footer-nav-links a:hover {
    background-size: 100% 2px;
}

.footer-social-links {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.footer-social-links li:first-child {
    color: var(--white-color);
    font-size: 24px;
    text-transform: uppercase;
    font-style: italic;
    display: flex;
    align-items: center;
    padding-right: 66px;
}

.footer-social-links li:first-child span:nth-child(n+1):nth-child(-n+2) {
    padding-right: 4px;
}

.footer-social-links li:first-child span:nth-child(3) {
    font-weight: bold;
}

.footer-social-links li:nth-child(n+2):nth-child(-n+3) {
    padding-right: 15px;
}

.footer-social-links .fab {
    color: var(--white-color);
    font-size: 24px;
}

.subscribe-container {
    display: flex;
    padding-top: 20px;
}

.subscribe-container fieldset {
    border: none;
    position: relative;
}

.subscribe-container input[type=email] {
    width: 200px;
    outline: none;
    padding: 10px 13px;
    background-color: transparent;
    color: var(--white-color);
    font-size: 16px;
    letter-spacing: 0.1em;
}

.subscribe-container .email {
    border: none;
    transition: .3s;
    background-image: 
        linear-gradient(to right, var(--white-color) 2px, transparent 2px),
        linear-gradient(to bottom, var(--white-color) 2px, transparent 2px),
        linear-gradient(to left, var(--white-color) 2px, transparent 2px),
        linear-gradient(to top, var(--white-color) 2px, transparent 2px),
        linear-gradient(to right, var(--white-color) 2px, transparent 2px),
        linear-gradient(to top, var(--white-color) 2px, transparent 2px),
        linear-gradient(to left, var(--white-color) 2px, transparent 2px),
        linear-gradient(to bottom, var(--white-color) 2px, transparent 2px);
    background-position: 
        0 0,
        0 0,
        100% 100%,
        100% 100%,
        0 100%,
        0 100%,
        100% 0,
        100% 0;
    background-repeat: no-repeat;
    background-size: 8px 8px;
}

.subscribe-container .email ~ .focus-border::before,
.subscribe-container .email ~ .focus-border::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--white-color);
    transition: .3s;
}

.subscribe-container .email ~ .focus-border::after {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
}

.subscribe-container .email ~ .focus-border i::before,
.subscribe-container .email ~ .focus-border i::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: var(--white-color);
    transition: .3s;
}

.subscribe-container .email ~ .focus-border i::after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
}

.subscribe-container .email:focus ~ .focus-border::before,
.subscribe-container .email:focus ~ .focus-border::after {
    width: 100%;
    transition: .3s;
}

.subscribe-container .email:focus ~ .focus-border i::before,
.subscribe-container .email:focus ~ .focus-border i::after {
    height: 100%;
    transition: .3s;
}

.subscribe-container input::placeholder {
    color: var(--white-color);
    letter-spacing: 0.1em;
    opacity: .9;
}

.subscribe-container input:invalid {
    box-shadow: none;
}

.subscribe-container button {
    margin-left: 38px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 2px solid var(--white-color);
    width: 200px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 14px;
    color: var(--white-color);
    background-image: linear-gradient(to left, transparent, transparent 50%, var(--white-color) 50%, var(--white-color));
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

.subscribe-container button:hover {
    background-position: 0 0;
    color: var(--anthracite-color-one);
}