footer {
    height: 65vh;
    background-image: url(../img/background/crowned-work.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 140px;
}

footer h2 {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    line-height: 1em;
}

footer h3 {
    color: var(--white-color);
    font-style: italic;
    letter-spacing: 0.2em;
    display: flex;
    align-items: center;
}

footer h3 span:first-child {
    padding-right: 5px;
}

.footer-nav-links,
.footer-social-links {
    list-style: none;
}

.footer-nav-links {
    display: flex;
    padding-top: 20px;
    font-weight: bold;
}

.footer-nav-links li:nth-child(-n+4) {
    padding-right: 30px;
}

.footer-nav-links a {
    color: var(--white-color);
    text-decoration: none;
    letter-spacing: 0.1em;
    background-image: linear-gradient(var(--white-color), var(--white-color));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    padding-bottom: 0.2em;
}

.footer-nav-links a:hover {
    background-size: 100% 2px;
}

.footer-social-links {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.footer-social-links li:first-child {
    color: var(--white-color);
    font-size: 24px;
    text-transform: uppercase;
    font-style: italic;
    display: flex;
    align-items: center;
    padding-right: 66px;
}

.footer-social-links li:first-child span:nth-child(n+1):nth-child(-n+2) {
    padding-right: 4px;
}

.footer-social-links li:first-child span:nth-child(3) {
    font-weight: bold;
}

.footer-social-links li:nth-child(n+2):nth-child(-n+3) {
    padding-right: 15px;
}

.footer-social-links .fab {
    color: var(--white-color);
    font-size: 24px;
}

.subscribe-container {
    display: flex;
    padding-top: 20px;
}

.subscribe-container fieldset {
    border: none;
}

.subscribe-container input[type=email] {
    width: 170px;
    outline: none;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: transparent;
    border: none;
    color: var(--white-color);
    font-size: 16px;
    letter-spacing: 0.1em;
    background-image: linear-gradient(var(--white-color), var(--white-color));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.subscribe-container input[type=email]:focus {
    background-size: 100% 2px;
}

.subscribe-container input::placeholder {
    color: var(--white-color);
    letter-spacing: 0.1em;
    opacity: 0.8;
}

.subscribe-container button {
    margin-left: 38px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 2px solid var(--white-color);
    width: 200px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 14px;
    color: var(--white-color);
    background-image: linear-gradient(to left, transparent, transparent 50%, var(--white-color) 50%, var(--white-color));
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

.subscribe-container button:hover {
    background-position: 0 0;
    color: var(--anthracite-blue-color);
}