.showroom {
    background-color: var(--grey-color-one);
}

.showroom-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
}

.showroom-content h2 {
    display: flex;
    color: var(--black-color-one);
}

.showroom-content h3 {
    color: var(--soft-red-color);
}

.wheel-slider .swiper-button-next,
.wheel-slider .swiper-button-prev {
    color: var(--black-color-two);
}

.wheel-slider .swiper-button-next:hover,
.wheel-slider .swiper-button-prev:hover {
    color: var(--soft-red-color);
}

.wheel-slider {
    height: 35vh;
    width: 75vw;
}

.wheel-slider .swiper-slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
}

.wheel-slider .wheel-one {
    background-image: url(../img/wheels/rotiform-aerodisc-gloss_white_w_silver_hex-one.png);
}

.wheel-slider .wheel-two {
    background-image: url(../img/wheels/rotiform-kb1-matte_anthracite-one.png);
}

.wheel-slider .wheel-three {
    background-image: url(../img/wheels/rotiform-wro-matte_ceramic_silver-one.png);
}

.wheel-slider .wheel-four {
    background-image: url(../img/wheels/rotiform-bm1-brushed_gloss_clear_with_black_windows-one.png);
}

.wheel-slider .wheel-five {
    background-image: url(../img/wheels/rotiform-bkk-anthracite_w_black_lip-one.png);
}

.wheel-slider .wheel-six {
    background-image: url(../img/wheels/rotiform-917-matte_black-one.png);
}

.wheel-slider .wheel-seven {
    background-image: url(../img/wheels/niche-verona_m150-black_n_brushed_w_double_dark_tint-one.png);
}

.wheel-slider .wheel-eight {
    background-image: url(../img/wheels/us_mags-u125_boulevard-anthracite_w_diamond_cut_lip-one.png);
}

.wheel-slider .wheel-nine {
    background-image: url(../img/wheels/dub-cojones_S243-gloss_black_n_machined-one.png);
}

.wheel-slider .wheel-ten {
    background-image: url(../img/wheels/work-meister_s1_3piece-black-one.png);
}

.wheel-slider .wheel-eleven {
    background-image: url(../img/wheels/work-lanvec_ld1-cut_clear-one.png);
}